
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Data.RegisUser

<div class="my_form">

    @using (Html.BeginForm("regis", "auth", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <p>
            @Html.ValidationMessageFor(m => m.FirstName)
            @Html.LabelFor(m => m.FirstName, "Ваше имя:") 
            <br />
            @Html.EditorFor(m => m.FirstName)
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.LastName)
            @Html.LabelFor(m => m.LastName, "Фамилия:")
            <br />
            @Html.EditorFor(m => m.LastName)
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.DateBirth)
            @Html.LabelFor(m => m.DateBirth, "Дата рождения:")
            <br />
            <input type="date" required name="DateBirth" class="text-box single-line" id="DateBirth" value="" data-val-required="Обязательное поле" data-val="true"/>
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.Email)
            @Html.LabelFor(m => m.Email, "Адрес почты:")
            <br />
            @Html.EditorFor(m => m.Email)
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.PhoneNumber)
            @Html.LabelFor(m => m.PhoneNumber, "Номер телефона:")
            <br />
            @Html.EditorFor(m => m.PhoneNumber)
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.Password)
            @Html.LabelFor(m => m.Password, "Пароль:")
            <br />
            @Html.PasswordFor(m => m.Password)
        </p>

        <p>
            @Html.ValidationMessageFor(m => m.PasswordConfirm)
            @Html.LabelFor(m => m.PasswordConfirm, "Подтверждение пароля:")
            <br />
            @Html.PasswordFor(m => m.PasswordConfirm)
        </p>

        <p><input type="submit" value="Зарегистрироваться"/></p>  
    }


   

</div>

